{% extends 'base.html.twig' %}
{% block title %}Оплата{% endblock %}
{% block body %}
    <form method="post" action="https://secure.wayforpay.com/pay" accept-charset="utf-8" class="form-signin">
        {% if is_bought %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>У вас уже есть этот курс</strong>
            </div>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">{{ item.getName() }}</h1>
            <h3 class="h5 mb-3 font-weight-normal" id="price">{{ item.getPrice() }}UAH</h3>
            {% for key,value in data %}
                <input type="text" name="{{ key }}" value="{{ value }}" id="{{ key|replace({'[]':''}) }}" hidden>
            {% endfor %}
            <div id="promocode-section">
                <label for="promocode">Промокод</label>
                <input type="text" id="promocode" class="form-control">
                <a href="{{ path('payment_activate_promocode') }}" id="activate-promocode">активировать</a>
            </div>
            <div id="promocode-activation-status"></div><br>
            <button class="btn btn-lg btn-primary btn-block" id="buy-btn" type="submit">Оплатить</button>
        {% endif %}
    </form>
{% endblock %}
